<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia - Universidad de las Fuerzas Armadas ESPE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <h1>Historia de la Universidad de las Fuerzas Armadas ESPE</h1>

    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('historia') }}">Historia</a></li>
        <li><a href="{{ url_for('mision') }}">Misión y Visión</a></li>
        <li><a href="{{ url_for('cursos') }}">Cursos</a></li>
    </ul>

    <div class="history-content">
        <p>La Universidad de las Fuerzas Armadas ESPE tiene su origen cuando el 16 de junio de 1922 se crea la «Escuela de Oficiales de Ingenieros», mediante Decreto del Presidente de la República, Dr. José Luis Tamayo, publicado en el Registro Oficial 521; en vista de la necesidad de tecnificar los mandos en las especialidades de ingeniería y artillería el 22 de octubre de 1936, durante la Presidencia de Federico Páez, se cambia el nombre por «Escuela de Artillería e Ingenieros». Al ampliar su pensum académico y nivelarlo con las demás universidades ecuatorianas, en 1948 se la denominó Escuela Técnica de Ingenieros. Ante la crisis universitaria del país y las necesidades de las Fuerzas Armadas, en 1972 el Gral. Guillermo Rodríguez Lara, Presidente de la República abre las puertas para que ingresen estudiantes civiles.</p>

        <p>Debido al crecimiento de la población estudiantil se crean facultades, institutos y centros para atender las necesidades del país; por lo que en 1977 se transforma en Escuela Politécnica del Ejército (ESPE), su configuración y programas de estudios académicos fueron revisados por la H. Cámara Nacional de Representantes, que al dictar la Ley de Universidades y Escuelas Politécnicas en mayo de 1982 la incluyó con toda justicia y derecho, en la enumeración de centros de educación superior, méritos que se refuerzan al dictarse la Constitución Política el 10 de Agosto de 1998 y al promulgarse la Ley de Educación Superior en el Registro Oficial No. 77 del 15 de mayo del año 2000.</p>

        <p>El 13 de junio del 2001, el señor Presidente Constitucional de la República, Dr. Gustavo Noboa aprueba el nuevo Estatuto de la Escuela Politécnica del Ejército, mediante Decreto Ejecutivo N° 1585, que se encuentra publicado en el Registro Oficial N° 349 del 18 de junio del 2001.</p>

        <p>El decreto de creación ratificaba que los títulos concedidos por la ESPE se equiparaban con los otorgados por otras universidades y escuelas politécnicas. Paralelamente para satisfacer las necesidades de estudios de militares y sus familias se incluyeron las carreras a distancia en ciencias administrativas, mediante centros de apoyo que se abrieron en la gran mayoría de provincias del país. La población de estudiantes militares y civiles crecía considerablemente y de igual manera, el prestigio académico y la capacidad profesional de sus graduados; siendo en 1996 reconocida por el Consejo Nacional de Universidades y Escuelas Politécnicas (CONUEP).</p>

        <p>Al entrar en vigencia la constitución aprobada por el pueblo ecuatoriano en el año 2008, la Asamblea Nacional dicta una nueva Ley de Educación Superior en la que se establece la transformación de la Escuela Politécnica del Ejército ESPE en Universidad Politécnica de Fuerzas Armadas “ESPE”.</p>

        <p>En el 2010 es evaluada por el CONEA y se le otorga el Certificado de Acreditación Institucional reconociéndola en la categoría “A”.</p>

        <p>Podemos observar cómo se genera la mayor transformación para esta casa de estudios; de acuerdo a la Disposición Transitoria Vigésima Segunda de la Ley Orgánica de Educación Superior (LOES) publicada en el Suplemento del Registro Oficial Nº 298 de 12 de octubre de 2010, se dispone que a partir de la vigencia de la ley, se integrarán la Escuela Politécnica del Ejército (ESPE), la Universidad Naval Comandante Rafael Morán Valverde (UNINAV) e Instituto Tecnológico Superior Aeronáutico (ITSA, para conformar la Universidad de las Fuerzas Armadas ESPE, una vez que el Consejo de Educación Superior (CES) aprueba el Estatuto, el 26 de junio de 2013.</p>

        <p>En el 2016, el Consejo de Evaluación, Acreditación y Aseguramiento de la Calidad de la Educación Superior (CEAACES), mediante Resolución No. 388-CEAACES-SO-11-2016, determina ubicarle en la Categoría “A”.</p>

        <p>En octubre del año 2020, la ESPE recibió el Certificado de Acreditación por parte del señor presidente del Consejo de Aseguramiento de la Calidad de Educación Superior (CACES), Juan Manuel García, PhD. Donde se alcanzó los parámetros de cumplimiento de los estándares y criterios establecidos en el modelo de evaluación, lo cual garantiza una educación de calidad para los estudiantes que se forman en la universidad.</p>

        <p>La visión estratégica de la ESPE, se basa en la excelencia académica como instrumento esencial de la formación de sus estudiantes, sustentada en procesos de investigación científica, con parámetros de innovación, emprendimiento y ética de servicio a la nación. Estos factores han consolidado el posicionamiento de la Universidad de las Fuerzas Armadas ESPE a lo largo de estos 100 años de vida como una de las instituciones líderes en la educación superior del Ecuador.</p>
    </div>

    <div class="images-container">
        <img src="../static/images/1.png" alt="Imagen 1">
        <img src="../static/images/2.jpg" alt="Imagen 2">
        <img src="../static/images/3.jfif" alt="Imagen 3">
    </div>

</body>
</html>
